.chat-room-container {
  margin-top: 80px;

  width: 80%;
  height: 80%;
  padding: 10px;

  background-color: #1d417c;
  border-radius: 1rem;
}

.chat-room-container .conversation-area .message {
  color: white;
  font-size: 3vh;
}

.chat-room-container .conversation-area {
display: flex;
  flex-direction: column;
  gap: 3vh;

  box-sizing: border-box; /* make sure padding doesnt resize component*/
  padding: 10px;
  height: 80%;
  scrollbar-width: none;
  overflow-y: auto;
  background-color: rgb(21, 21, 21);
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


.chat-room-container .conversation-area .message {

  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.chat-room-container .user-input-area {
  
  /* box-sizing: border-box;
  padding: 5px;  */
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgb(20, 9, 84);
}

.chat-room-container .user-input-area .user-input {
    background-color: rgb(21, 21, 21);
  color: white;
  flex: 4;
  padding: 1.4vh;
  border-radius: 1rem;
  font-size: 3vh;

  height: 13vh;
  box-sizing: border-box;
  border: 0.1vh solid #97b7f8;
}

.chat-room-container .user-input-area .send-button {
    background-color: rgb(21, 21, 21);
  color: white;
  border-radius: 1rem;
  border: 0.1vh solid #97b7f8;
  height: 13vh;
  flex: 1;
  font-size: 3vh;
}
