.barContainer {
  display: flex;
  align-items: center;
  height: 80px;
  background: #1D417C;

  position: fixed; /* Make the navbar stick to the top */
  top: 0;
  left: 0;
  right: 0;
  

  z-index: 1;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


.navLinks {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logoNav {
    border-radius: 10px;
    margin: 30px;
    width: 60px;
}
